@model object
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <form class="form-signin" asp-controller="Login" asp-action="Login" method="post">
        <h2 class="form-signin-heading">Sign in</h2>
        <label for="user_login" class="sr-only">login</label>
        <input type="text" name="user_login" id="user_login" class="form-control" placeholder="login" required autofocus>
         
        <!--
        <label for="user_password" class="sr-only">Password</label>
        <input type="password" name="user_password" id="user_password" class="form-control" placeholder="password" required>
        -->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>