@model object
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <form class="form-signin" asp-controller="Login" asp-action="Login" method="post">
        <h2 class="form-signin-heading">Sign in</h2>
        <label for="userLogin" class="sr-only">login</label>
        <input type="text" name="userLogin" id="userLogin" class="form-control" placeholder="login" required autofocus>
         
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-4 col-centered text-center">
            <a asp-controller="SignUp" asp-action="Show">Don't you have an account? Register here.</a>
        </div>
    </div>
</div>
