@model RecipesWeb.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Category Overview";
}

<h1><i class="fa fa-folder-open"></i> @Model.Category.Name</h1>
<div class="row">
@foreach (var recipe in Model.Recipes)
{
    @await Component.InvokeAsync("RecipeCard", new { recipe })
}
</div>