@using RecipesWeb.Tools
@model RecipesWeb.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="container">
    <form class="form-signin" asp-controller="SignUp" asp-action="SignUp" method="post">
        <h2 class="form-signin-heading"><i class="fa fa-cutlery"></i> Sign up</h2>
        
        <div class="form-group">
            <input type="text" name="userLogin" id="userLogin" class="form-control" placeholder="Username" required autofocus>
        </div>

        <div class="row"></div>

        <h3>Info about you</h3>
        <!--
        <div class="checkbox">
            <label> <input type="checkbox" name="vegetarian"> Vegetarian </label>
        </div>
        
        <div class="checkbox">
            <label> <input type="checkbox" name="vegan"> Vegan </label>
        </div>
        -->
        
        <div class="form-group">
            <label for="allergies">
                Please, tell us which ingredients you are allergic to or you strongly dislike:
            </label>
            
            <div class="allergiesList">
                @for (var i = 0; i < Model.Ingredients.Count; i++)
                {
                    <div>
                        <input type="hidden"
                               asp-for="@Model.Ingredients[i].Id" />
                        <input type="checkbox"
                               id="Ingredients_@(i)__Selected"
                               asp-for="@Model.Ingredients[i].Selected"/>
                        <label asp-for="@Model.Ingredients[i].Selected">
                            @Model.Ingredients[i].Name.CapitalizeFirst()
                        </label>
                    </div>
                }
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-4 col-centered text-center">
            <a asp-controller="SignUp" asp-action="Show">Are you already registered? Log in.</a>
        </div>
    </div>
</div>
