@model RecipesWeb.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<h1><i class="glyphicon glyphicon-heart"></i> Recipes recommended for you</h1>
<div class="row">
@foreach (var recipe in Model.Recipes)
{
    @await Component.InvokeAsync("RecipeCard", new { recipe, displayCategory = true })
}
</div>